MeetingRoomLight/room availability.txt
[{"id":"84fde233.c8af7","type":"mqtt out","z":"ea11c692.695a68","name":"MQTT Out (Uses msg topic)","topic":"MRL/roomupdate","qos":"2","retain":"true","broker":"670dbb36.e87704","x":940,"y":380,"wires":[]},{"id":"97b04b.5e838fb8","type":"inject","z":"ea11c692.695a68","name":"","topic":"","payload":"{\"ID\":\"All\",\"isCurrent\":false,\"start\":1537534800,\"duration\":180,\"elapsed\":74,\"next\":4216,\"_msgid\":\"d918d936.b524a8\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":560,"wires":[["dfdbd08d.675f7","84fde233.c8af7"]]},{"id":"dfdbd08d.675f7","type":"debug","z":"ea11c692.695a68","name":"Full msg Status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":900,"y":260,"wires":[]},{"id":"cc43aafe.161858","type":"http response","z":"ea11c692.695a68","name":"","statusCode":"200","headers":{},"x":320,"y":220,"wires":[]},{"id":"2c2d61ac.db7a3e","type":"function","z":"ea11c692.695a68","name":"message formatter","func":"let newMsg = { \"ID\":\"All\",\"isCurrent\": msg.payload.isCurrentMeeting,\"start\":msg.payload.start,\"duration\": msg.payload.duration,\"elapsed\":msg.payload.elapsed,\"next\":msg.payload.next};\nreturn {payload:newMsg};","outputs":1,"noerr":0,"x":450,"y":320,"wires":[["dfdbd08d.675f7","84fde233.c8af7"]]},{"id":"2e8e7b63.5659d4","type":"http in","z":"ea11c692.695a68","name":"","url":"/rooms","method":"post","upload":false,"swaggerDoc":"","x":90,"y":280,"wires":[["cc43aafe.161858","2c2d61ac.db7a3e","dfdbd08d.675f7"]]},{"id":"670dbb36.e87704","type":"mqtt-broker","z":"","name":"MosPi","broker":"192.168.0.19","port":"1883","clientid":"raspClient","usetls":false,"compatmode":true,"keepalive":"90","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]